:root{
  --blue: #661EFF;
  --red: #FF6767;
  --dark-gray: #B0B0B0;
  --light-gray: #D2D2D2;
  --extra-light: #F4F4F4;
}

*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  background-color: var(--blue);
}

header{
  text-align: center;
  padding: 4rem 1rem;
}

button{
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  padding: .2rem .5rem;
  cursor: pointer;
}

input#new-task{
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 1.5rem;
  padding: .2rem .5rem;
  color: #fff;
}

::placeholder {
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}


